{% extends 'base.html.twig' %}

{% block navbar %}
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Linguissime</a>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center-block">
            <div class="col-md-6 col-sm-12 col-lg-4 col-md-offset-4">
                <div class="card">
                    <div class="card-block card-shadow">
                        {{ form_start(form) }}

                        {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                             {{ form_errors(form.email) }}
                             {{ form_errors(form.username) }}
                        </div>
                        {% endif %}

                        
                            <fieldset class="form-group">
                                <a class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                                </a>
                            </fieldset>
      
                            <fieldset class="form-group">
                                <a class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google"></span> Sign in with Google
                                </a>
                            </fieldset>

                            <div class="hr-text" data-text="ou"></div>

                            <fieldset class="form-group">
                            	{{ form_row(form.email, {'attr': {'class': 'form-control','placeholder': 'E-mail'}}) }}
                            </fieldset>

                            <fieldset class="form-group">
                            	{{ form_row(form.username, {'attr': {'class': 'form-control','placeholder': 'Prénom'}}) }}
                            </fieldset>

                            <fieldset class="form-group">
                            	{{ form_row(form.plainPassword, {'attr': {'class': 'form-control','placeholder': 'Mot de passe'}}) }}
                            </fieldset>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Se souvenir de moi 
                                </label>
                            </div>

                            <fieldset class="form-group m-b-0">
                                <button type="submit" class="btn btn-block btn-primary">Inscription</button>
                                <p class="m-b-0 p-t-1">Deja membre Linguissime ? <a class="link-primary" href="{{ path('login') }}">Connectez-vous</a></p>
                            </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}